<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>
        实时作业管理
    </title>
    <meta name="description" content="Basic datatables examples">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="https://keenthemes.com/preview/metronic/theme//assets/global/css/components.min.css" rel="stylesheet" type="text/css"> -->
    <link rel="shortcut icon" th:href="@{${webStaticUrl} + 'assets/lotion/media/img/lotion_favicon.ico'}"/>
    <link th:href="@{${webStaticUrl} + 'assets/vendors/base/vendors.bundle.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="@{${webStaticUrl} + 'assets/demo/default/base/style.bundle.css'}" rel="stylesheet"
          type="text/css"/>
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body>
<div class="m-content" id="main_content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        实时作业列表
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="#" onclick="showEditJobModal()"
                           class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
												<span>
													<i class="la la-plus"></i>
													<span>
														新作业
													</span>
												</span>
                        </a>
                    </li>
                    <li class="m-portlet__nav-item"></li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!-- begin::Datatable -->
            <table class="table table-striped- table-bordered table-hover table-checkable" id="job_table">
                <thead>
                <tr>
                    <th>
                        作业名称
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        目的机
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
            </table>
            <!-- end::Datatable -->
        </div>
    </div>

    <!-- begin::Modal -->
    <div class="modal fade" id="editjob" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">编辑作业</h4>
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>作业信息</h4>
                            <form id="jobform">
                                <p>作业名称 </p>
                                <p>
                                    <input class="col-md-12 form-control" name="jobname" id="jobname" type="text"></p>
                                <p>目的机</p>
                                <p>
                                    <input class="col-md-12 form-control" name="destination" id="destination"
                                           type="text"></p>
                                <p>用户名</p>
                                <p>
                                    <input class="col-md-12 form-control" name="username" id="username" type="text" autocomplete="username"></p>
                                <p>密码</p>
                                <p>
                                    <input class="col-md-12 form-control" name="password" id="password" type="password" autocomplete="new-password">
                                </p>
                                <p>类型</p>
                                <p>
                                    <select class="col-md-12 form-control" name="type" id="type">
                                        <option value="1">Kafka Streams</option>
                                        <option value="2">Spark Streaming</option>
                                        <option value="3">Samza</option>
                                    </select>
                                </p>
                                <p>开始脚本</p>
                                <p>
                                    <textarea class="col-md-12 form-control" name="startsh" id="startsh"></textarea></p>
                                <p>停止脚本</p>
                                <p>
                                    <textarea class="col-md-12 form-control" name="stopsh" id="stopsh"></textarea></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-accent" type="button" onclick="save()">Save changes</button>
                </div>
            </div>
        </div>
        <!-- end::Modal -->
    </div>
    <!-- end::Content -->
</div>
<!-- end::Body -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<script th:src="${webStaticUrl} + 'assets/vendors/base/vendors.bundle.js'" type="text/javascript"></script>
<script th:src="${webStaticUrl} + 'assets/demo/default/base/scripts.bundle.js'" type="text/javascript"></script>
<script th:src="${webStaticUrl} + 'assets/vendors/custom/datatables/datatables.bundle.js'"
        type="text/javascript"></script>
<script th:src="${webStaticUrl} + 'assets/demo/default/custom/crud/datatables/basic/basic.js'"
        type="text/javascript"></script>
<script th:src="${webStaticUrl} + 'assets/lotion/js/control_realtimejob.js'" type="text/javascript"></script>
<!--<script src="../control/assets/js/control_realtimejob.js" type="text/javascript"></script>-->
<script type="text/javascript">
    window.Job.init();
</script>
</body>
</html>
