<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>
        indexframe
    </title>
    <meta name="description" content="Basic datatables examples">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 使用Metronic官网静态文件服务器 -->
    <link href="https://keenthemes.com/metronic/themes/themes/metronic/dist/preview/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://keenthemes.com/metronic/themes/themes/metronic/dist/preview/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!-- 使用阿里云静态文件服务器 -->
    <!--
    <link th:href="@{${webStaticUrl} + 'assets/vendors/base/vendors.bundle.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="@{${webStaticUrl} + 'assets/demo/default/base/style.bundle.css'}" rel="stylesheet" type="text/css"/>
    -->
    <link rel="shortcut icon" th:href="@{${webStaticUrl} + 'assets/lotion/media/img/lotion_favicon.ico'}"/>
</head>
<body>
<!-- BEGIN Content -->
<div class="m-content" id="main_content">
    <!-- BEGIN: Introduction Div -->
    <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        欢迎使用Lotion物流大数据可视化系统
                    </h3>
                    <h2 class="m-portlet__head-label m-portlet__head-label--primary">
							<span>
								Introduction
							</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Lotion - Logistics Big Data Visualization System. 欢迎使用Lotion物流大数据可视化系统。
        </div>
    </div>
    <!-- END: Introduction Div -->
    <!-- BEGIN: Introduction Div -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Webuis
                        <small>
                            监控多个系统的webui
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            webuis
        </div>
    </div>
    <!-- END: Introduction Div -->
    <!-- BEGIN: Introduction Div -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Application
                        <small>
                            物流大数据应用可视化
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Application
        </div>
    </div>
    <!-- END: Introduction Div -->
    <!-- BEGIN: Introduction Div -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Supervision
                        <small>
                            集群系统性能指标监控
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Application
        </div>
    </div>
    <!-- END: Introduction Div -->
    <!-- BEGIN: Introduction Div -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Control
                        <small>
                            集群系统任务控制
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Control
        </div>
    </div>
    <!-- END: Introduction Div -->
    <!-- BEGIN: Introduction Div -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Data
                        <small>
                            透明的大数据
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Data
        </div>
    </div>
    <!-- END: Introduction Div -->
    <!-- BEGIN: Introduction Div -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Log
                        <small>
                            系统平台日志归档
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Log
        </div>
    </div>
    <!-- END: Introduction Div -->
</div>
<!-- END Content -->
<!-- 使用Metronic官网静态文件服务器 -->
<script src="https://keenthemes.com/metronic/themes/themes/metronic/dist/preview/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="https://keenthemes.com/metronic/themes/themes/metronic/dist/preview/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<!-- 使用阿里云静态文件服务器 -->
<!--
<script th:src="${webStaticUrl} + 'assets/vendors/base/vendors.bundle.js'" type="text/javascript"></script>
<script th:src="${webStaticUrl} + 'assets/demo/default/base/scripts.bundle.js'" type="text/javascript"></script>
-->
<!-- Global Config -->
<script th:src="${webStaticUrl} + 'assets/lotion/js/config.js'" type="text/javascript"></script>
<!-- Frame Specific JS -->
</body>
</html>
